# 1. COLLECTED DATA
Avaibility data quantity and quality control

In [9]:
#Scikit-learn: a Python tool for data preprocessing, model training, and evaluation.
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import missingno as msno
import os

# Use os for make a root
data_path = os.path.join("..", "..", "..", "backend", "data", "mpox_processed.csv")
dataMpox = pd.read_csv(data_path, sep=',')

dataMpox.head(10)

,location,date,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million
0,Africa,2022-05-01,27.0,2.0,0.0,0.0,0.29,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
1,Africa,2022-05-02,27.0,2.0,0.0,0.0,0.29,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
2,Africa,2022-05-03,27.0,2.0,0.0,0.0,0.29,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
3,Africa,2022-05-04,27.0,2.0,0.0,0.0,0.29,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
4,Africa,2022-05-05,27.0,2.0,0.0,0.0,0.29,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
5,Africa,2022-05-06,27.0,2.0,0.0,0.0,0.00,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
6,Africa,2022-05-07,27.0,2.0,0.0,0.0,0.00,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
7,Africa,2022-05-08,27.0,2.0,0.0,0.0,0.00,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
8,Africa,2022-05-09,27.0,2.0,0.0,0.0,0.00,0.0,0.0,0.019,0.0,0.0,0.0014,0.0
9,Africa,2022-05-10,27.0,2.0,0.0,0.0,0.00,0.0,0.0,0.019,0.0,0.0,0.0014,0.0

In [10]:
# Informations about data type and length
dataMpox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33666 entries, 0 to 33665
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   location                         33666 non-null  object
 1   date                             33666 non-null  object
 2   total_cases                      33666 non-null  float64
 3   total_deaths                     33666 non-null  float64
 4   new_cases                        33666 non-null  float64
 5   new_deaths                       33666 non-null  float64
 6   new_cases_smoothed               33666 non-null  float64
 7   new_deaths_smoothed              33666 non-null  float64
 8   new_cases_per_million            33666 non-null  float64
 9   total_cases_per_million          33666 non-null  float64
 10  new_cases_smoothed_per_million   33666 non-null  float64
 11  new_deaths_per_million           33666 non-null  float64
 12  total_deaths_per_million         33666 non-null  float64
 13  new_deaths_smoothed_per_million  33666 non-null  float64
dtypes: float64(12), object(2)
memory usage: 3.6+ MB

In [11]:
# Checking all the missing value in the data 
dataMpox.isnull().sum()

location                           0
date                               0
total_cases                        0
total_deaths                       0
new_cases                          0
new_deaths                         0
new_cases_smoothed                 0
new_deaths_smoothed                0
new_cases_per_million              0
total_cases_per_million            0
new_cases_smoothed_per_million     0
new_deaths_per_million             0
total_deaths_per_million           0
new_deaths_smoothed_per_million    0
dtype: int64

In [ ]:
#comparatifvisualition on a diagram NaN values
msno.bar(dataMpox)

AttributeError: 'str' object has no attribute 'isnull'